// Specific CSS for your home-page
.main-container {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  color: white;
}

.container-home {
  padding: 16px 20px;
  margin: 20px;
}
