 <div class="main-container container-banner" style="">
  <div class="ml-5 p-2 w-50" style="">
    <h1 class="text-shadow">Book an appointment. <strong>Feel better</strong></h1>
    <div class="form">
      <div class="form-group col-sm-12 col-md-9 col-form-label">
        <label for="specializationInput">I am looking for</label>
        <% User.specializations.each do |specialization| %>
        <% end %>
        <input type="text" class="form-control" id="specializationInput" placeholder="Look for a specialization">
      </div>
      <div class="form-group col-sm-12 col-md-9 col-form-label">
        <label for="locationInput">Location</label>
        <input type="text" class="form-control" id="locationInput" placeholder="Palermo Soho, Buenos Aires">
      </div>
      <div class="form-group col-sm-12 col-md-4 col-form-label">
        <%= link_to "Find doctors", users_path(specialization: "", location:""), class: "btn btn-primary my-4", id:"findDoctors" %>
      </div>
    </div>
  </div>
</div>
