<div class="d-flex">
  <div class="flex-grow-1 d-md-flex">
    <div class="flex-grow-1">
      <p class="location">location</p>
      <p class="age">age</p>
    </div>
    <div class="flex-grow-1">
      <p class="phone_number">phone_number</p>
      <p class="email">email</p>
    </div>
  </div>
  <div class="d-block d-md-none w-50">
    <img id="map" class="img-fluid" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoieGVuaWFldmEiLCJhIjoiY2s2Y2dyeWRxMDNnazNscGNlY3o3a3FtaSJ9.gRMQKWJg_bjFuLcvO05ilA'>
  </div>
</div>
