<div class="profile-card d-flex justify-content-between mb-5" >

  <img src="https://cdn1.vectorstock.com/i/1000x1000/14/80/doctor-web-icon-therapist-avatar-vector-18531480.jpg" class="avatar" />
  <div class="flex-grow-1">
    <h1>Doctors name</h1>
    <h2>Specialization</h2>
    <div class="d-flex">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="far fa-star"></i>
    </div>
  </div>

</div>
