<div class="d-flex justify-content-between" >

  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="w-25" />
  <div class="flex-grow-1">
    <h1>Doctors name</h1>
    <h2>Specialization</h2>
    <div class="d-flex">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </div>
  </div>
</div>
