<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "Sign up", new_user_registration_path(doctor: true) %>
<%= link_to "log out", destroy_user_session_path %>

<ul>

<% @users.each do |doctors| %>
<li>
<%= doctors.email %>
</li>
<% end %>
</ul>
