<html class="html">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="LOGO" width="30" height="30" class="d-inline-block align-top fas fa-user-md" alt="logo">
      Doctorify
    </a>
    <form class="form-inline">
      <input class="form-control" type="search" placeholder="fas fa-search Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
</body>
</html>
