<div>
  <h2> Dr. <%= doctor.last_name %></h2>
  <% if doctor.photo.attached? %>
    <img class= "doctor-card-image" src="<%= cl_image_path doctor.photo.key %>">
  <% else %>
    <img class = "default-picture" src="https://cdn6.f-cdn.com/contestentries/1376995/30494909/5b566bc71d308_thumbCard.jpg" alt="" class="w-25 d-none d-lg-block">
  <% end %>
    <p><strong>Address:</strong> <%= doctor.address %></p>
    <p><strong>Phone:</strong> <%= doctor.phone_number %></p>
</div>
