<div class="white-card d-flex justify-content-between" >
  <img src="https://cdn1.vectorstock.com/i/1000x1000/14/80/doctor-web-icon-therapist-avatar-vector-18531480.jpg" class="avatar" />
  <div class="profile-card-data flex-grow-1">
    <h1><%= doctor.first_name.capitalize %> <%= doctor.last_name.capitalize %></h1>
    <h2><%= doctor.specialization.upcase %></h2>
    <div class="ratings d-flex rating">


      <% if @averagerating %>
        <% 5.times do |num| %>
          <% if num <= @averagerating %>
            <i class="fas fa-star text-warning"></i>
          <% else %>
            <i class="far fa-star text-warning"></i>
          <% end %>
        <% end %>
      <% else %>
        <span class="text-muted">Doctor without reviews</span>
      <% end %>


    </div>
  </div>
</div>
