<div class="profile-info d-flex mb-5">
  <div class="flex-grow-1 d-md-flex">
    <div class="flex-grow-1">
      <p class="address">Address: Niceto Vega 4866</p>
      <p class="age">Age: 35</p>
    </div>
    <div class="flex-grow-1">
      <p class="phone_number">Phone_number: 444-4444</p>
      <p class="email">Email: doctor@gmail.com</p>
    </div>
  </div>
  <div class="d-block d-md-none w-50">
    <img id="map" class="img-fluid" src='https://www.worldeasyguides.com/wp-content/uploads/2014/03/Map-of-Plaza-de-la-Republica-Buenos-Aires.jpg'>
  </div>
</div>
