<div class="review-card d-flex justify-content-between mb-4" >

  <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" class="avatar-review mr-2" />
  <div class="flex-grow-1">
    <h3 class="mb-1">User name</h3>
    <p class="mb-1">Comment</p>
    <div class="d-flex rating">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
    </div>
  </div>
</div>
