<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <i class="fas fa-user-md"></i> Doctorify
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sign-in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Are you a doctor?</a>
      </li>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle fas fa-user-md" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="#" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <form class="form-inline">
      <input class="form-control" type="search" placeholder="Dentist" aria-label="Search">
      <input class="form-control" type="search" placeholder="Buenos Aires" aria-label="Search">
      <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form>
  </div>
</div>

<div class="container-fluid">
  <div class="row" >
    <div class="col-8">
      <div class="cards">
        <div class="card-doctor my-2">
          <%= cl_image_path user.photo.key %>
          <div class="card-wrapper">
            <div class="card-doctor-infos">
              <h2>Doctor's name</h2>
              <p>Practice description with <strong>relevant info</strong> only.</p>
            </div>
            <div class="actions d-flex justify-content-end">
              <a class="btn btn-ghost btn-sm my-2 float-right"> <i class="far fa-calendar-alt"></i> Make an appointment</a>
              <a class="btn btn-ghost btn-sm my-2 float-right"> <i class="far fa-envelope"></i> Message</a>
            </div>
          </div>
        </div>
        <div class="card-doctor my-2">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-wrapper">
            <div class="card-doctor-infos">
              <h2>Doctor's name</h2>
              <p>Practice description with <strong>relevant info</strong> only.</p>
            </div>
            <div class="actions d-flex justify-content-end">
              <a class="btn btn-ghost btn-sm my-2 float-right"> <i class="far fa-calendar-alt"></i> Make an appointment</a>
              <a class="btn btn-ghost btn-sm my-2 float-right"> <i class="far fa-envelope"></i> Message</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="map">
          <img id="map" class="img-fluid" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoieGVuaWFldmEiLCJhIjoiY2s2Y2dyeWRxMDNnazNscGNlY3o3a3FtaSJ9.gRMQKWJg_bjFuLcvO05ilA'>
      </div>
    </div>
  </div>
</div>



<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-user-md"></i> Doctorify
  </div>
</div>



