.card-wrapper {
  flex: 1;
  margin-right: 8px;
  margin-bottom: 8px;
}

.cards-all {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.card-home {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

@media(max-width: 992px) {
  .cards-all {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards-all {
    grid-template-columns: 1fr;
  }
}



