<%= link_to root_path do %>
 <p class="py-0 my-0 d-flex text-white align-items-center logo" style="">
 <em>Doctorify</em>
 </p>
<% end %>
  <%= image_tag "", alt: "", size: "30", class: "d-inline-block align-top" %>
