<%= link_to root_path do %>
 <p class="py-0 my-0 d-flex text-white align-items-center logo" style="">
  <%= image_tag "cabify_logo.png", alt: "", size: "25", class: "d-inline-block align-top" %>
 Doctorify
 </p>
<% end %>
