   <form class="form d-flex" style="font-size: 6px;" action="<%= users_path %>">
      <div class="form-group">
        <label for="locationInput"></label>
                    <input type="hidden" name="user[address]" id="addressValue" value="<%= current_user.address.nil? ? '' : current_user.address %>">
        <input type="text" class="form-control" style="font-size: 14px;" placeholder="Location" name="address" id="address">
      </div>
      <div class="form-group">
        <label for="specializationInput"></label>
        <% User.specializations.each do |specialization| %>
          <!-- User.specialization() -->
        <% end %>
        <select type="text" class="form-control" style="font-size: 14px" placeholder="specialization" name="specialization">
          <option>Specialization</option>
          <option>dentist</option>
          <option>gynecologist</option>
          <option>generalist</option>
          <option>ophtalmologist</option>
          <option>oncologist</option>
          <option>traumatologist</option>
          <option>pediatrician</option>
          <option>psychiatrist</option>
          <option>psychologist</option>
          <option>cardiologist</option>
          <option>dermatologist</option>
        </select>
      </div>
      <div class="">
          <input type="submit" value="" class="btn btn-link" id="findDoctors">
      </div>

    </form>


