<span class="d-flex">
  <input type="text" class="navbar-toggler" id="locationInput" placeholder="Palermo Soho, Buenos Aires">
  <%= link_to "", users_path(location:""), class: "btn btn-primary", id:"findDoctors" %>
</span>
