<%= link_to destroy_user_session_path do %>
  <button class="btn btn-sm btn-outline-secondary" type="button">log out</button>
<% end %>
<div class="nav-item dropdown">
  <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
    </div>
</div>
